#!/bin/bash

GAME_ID="$( /usr/bin/python3 -m tracking.query.game_id $1 )"
/usr/bin/python3 -m tracking.query.spec_cmd $GAME_ID | clip.exe
echo Spector Command Copied!
export RIOT_API_KEY="YOUR_RIOT_API_KEY"
/usr/bin/python3 -m tracking.query.match $1
